* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* COLORS */
    /* PRIMARY */
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);

    /* NEUTRAL */
    --very-darkblue: hsl(212, 21%, 14%);
    --dark-grayishblue: hsl(228, 12%, 48%);

    /* FONTS */
    --fraunces: 'Fraunces', serif;
    --montserrat: 'Montserrat', sans-serif;
}

img {
    max-width: 100%;
}

body {
    font-size: 14px;
    background-color: var(--cream);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--montserrat);
    padding: 0.5rem;
}

main.container {
    max-width: 680px;
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
}

.img__box img:nth-child(2) {
    display: none;
}

.content {
    padding: 2.5rem;
}

.content p:first-of-type {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: var(--dark-grayishblue);
    margin-bottom: 1rem;
}

h1.content__title {
    font-size: 2rem;
    font-family: var(--fraunces);
    color: var(--very-darkblue);
    margin-bottom: 1rem;
}

p.content__desc {
    color: var(--dark-grayishblue);
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

ul.price {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin-bottom: 1rem;
}

ul li.new__price {
    font-size: 2rem;
    margin-right: 1rem;
    color: var(--dark-cyan);
    font-family: var(--fraunces);
}

ul li.old__price {
    text-decoration: line-through;
    color: var(--dark-grayishblue);
}

button,
li {
    font-family: inherit;
}

button {
    font-weight: 700;
    padding: 1.3rem;
    width: 100%;
    border: none;
    display: flex;
    justify-content: center;
    gap: 0.8rem;
    color: #fff;
    background-color: var(--dark-cyan);
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: hsl(158, 39%, 21%);
}

@media screen and (min-width: 680px) {
    .img__box img:nth-child(2) {
        display: block;
        height: 100%;
    }
    

    .img__box img:nth-child(1) {
        display: none;
    }

    main.container {
        display: flex;
        min-width: 680px;
    }

    main.container article {
        width: 50%;
    }

    /* main.container article:nth-child(1) {
        height: 100%;
    } */

    ul.price {
        margin-bottom: 3rem;
    }

    p.content__desc {
        margin-bottom: 2rem;
    }
    
}

